<%= form_with(model: milkman_product, local: true) do |form| %>
  <% if milkman_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(milkman_product.errors.count, "error") %> prohibited this milkman_product from being saved:</h2>

      <ul>
        <% milkman_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :product_price %>
    <%= form.number_field :product_price %>
  </div>

  <div class="field">
    <%= form.label :milkman_id %>
    <%= form.text_field :milkman_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
